# This file contains options passed to Bazel when running tests
# on continuous integration services.

build --spawn_strategy=standalone --genrule_strategy=standalone
test --test_strategy=standalone

common --color=yes

test:ci \
    --verbose_failures \
    --noshow_progress \
    --test_output=errors  \
    --action_env="AUTH_LEVEL" \
    --action_env="ENV" \
    --action_env="DB_USER_DEV" \
    --action_env="DB_PASSWORD_DEV" \
    --action_env="DB_HOST_DEV" \
    --action_env="DB_NAME_DEV" \
    --action_env="STREAM_API_KEY" \
    --action_env="STREAM_API_SECRET" \
    --action_env="MuMaxFuel" \
    --action_env="MuMinFuel" \
    --action_env="PostFuelCost" \
    --action_env="ReplyFuelCost" \
    --action_env="AuditFuelCost" \
    --action_env="BetaMax" \
    --action_env="REFUEL_INTERVAL" \
    --action_env="FUEL_REPLENISHMENT_HOURLY" \
    --action_env="MAX_FUEL_FOR_FUEL_UPDATE_INTERVAL"
